attrs==20.3.0
cffi==1.14.5
click==7.1.2
coverage==5.5
cryptography==3.4.7
cycler==0.10.0
dataclasses==0.6
dataclasses-serialization==1.3.1
decorator==4.4.2
flasgger==0.9.5
Flask==1.1.2
greenlet==1.0.0
imageio==2.9.0
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.3
jsonschema==3.2.0
kiwisolver==1.3.1
MarkupSafe==1.1.1
matplotlib==3.4.2
mistune==0.8.4
more-properties==1.1.1
mypy-extensions==0.4.3
networkx==2.5.1
numpy==1.20.3
packaging==20.9
Pillow==8.2.0
pluggy==0.13.1
psycopg2==2.9.1
py==1.10.0
pycparser==2.20
pyimage==0.1.1
PyJWT==2.1.0
pyparsing==2.4.7
pyrsistent==0.17.3
pytest==6.2.3
python-dateutil==2.8.1
PyWavelets==1.1.1
PyYAML==5.4.1
scikit-image==0.18.1
scipy==1.6.3
six==1.15.0
SQLAlchemy==1.4.11
tifffile==2021.4.8
toml==0.10.2
toolz==0.11.1
toposort==1.6
typing-extensions==3.7.4.3
typing-inspect==0.6.0
Werkzeug==1.0.1
